html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  font-family: Arial, sans-serif;
}
strong {
  font-weight: bold;
}
body {
  font-size: 13px;
  line-height: 1.4em;
}
.general_sprite,
.footer_bbb,
.footer_icta,
.question-icon,
.error,
.closelabel,
.validator_ok,
.validator_wrong,
.box-featured-bullet,
.bullet-down-black,
.bullet-right-black,
.icon_not_available,
.warning,
.msg_check,
.msg_cross {
  background: url("../images/general.png") no-repeat;
}
#gold_top_alert {
  background: url("../images/back-gold-alert.jpg") repeat top left transparent;
  color: #000;
  cursor: pointer;
  font-size: 13px;
  padding: 6px;
  text-align: center;
}
#gold_top_alert p {
  padding: 3px;
}
#gold_top_alert .time {
  color: #c00;
}
#gold_top_alert.degraded {
  background: #fffee2;
  border: 1px solid #e2da00;
  -webkit-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  width: 100%;
}
.content_section a {
  color: #007aa8;
  text-decoration: none;
}
span.required {
  color: #f00;
}
a.read_more {
  background: url("../images/golden-ingot-large.png") no-repeat 50% 50% transparent;
  border-bottom: 1px solid #382f00;
  border-left: 1px solid #ffe036;
  border-right: 1px solid #7b6100;
  color: #000;
  font-size: 10px;
  font-family: Georgia, serif;
  height: 14px;
  padding: 3px 8px 2px 8px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
input.gold_button,
button.gold_button {
  background: url("../images/m20_golden-ingot.png") no-repeat 50% 50% transparent;
  border-bottom: 1px solid #382f00;
  border-left: 1px solid #ffe036;
  border-right: 1px solid #7b6100;
  color: rgba(37,82,85,0.145) 5;
  font-size: 10px;
  font-family: Georgia, serif;
  height: auto;
  padding: 3px 8px 2px 8px;
  letter-spacing: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.wrapper {
  clear: both;
  margin: 0 auto;
  position: relative;
  max-width: 980px;
}
.clears {
  border: none;
  clear: both;
  height: 0;
  margin: 0;
  padding: 0;
  width: 100%;
}
#logos {
  text-align: center;
}
#logos IMG {
  display: inline;
  margin: 0 20px;
}
#container-main {
  max-width: 1000px;
  background: #fff;
  padding: 4px;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: 0 3px 19px -7px #4c4c4c;
  -webkit-box-shadow: 0 3px 19px -7px #4c4c4c;
  -webkit-box-shadow: 0 3px 19px -7px #4c4c4c;
  box-shadow: 0 3px 19px -7px #4c4c4c;
  -moz-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  -webkit-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
}
.responsive #container-main {
  max-width: none;
}
#content {
  background: #fff;
  min-width: 980px;
}
.alg_left {
  text-align: left;
  margin-top: 13px;
}
.alg_right {
  text-align: right;
}
.alg_center {
  text-align: center;
}
.alg_right a {
  color: #6ad6ff;
  text-decoration: none;
}
#source_date {
  font-family: arial;
  font-size: 12px;
}
#source_date a {
  color: #000;
}
ul.error_msg {
  width: 460px;
  padding-left: 13px;
  color: #f00;
}
ul.error_msg li {
  margin-left: 5px;
  list-style: disc;
  padding-bottom: 6px;
}
#postback_msg img,
#postback_msg span,
#postback_msg ul {
  float: left;
}
#postback_msg img {
  width: 50px;
}
#postback_msg span {
  font-size: 20px;
  font-weight: bold;
  margin-left: 15px;
  margin-top: 5px;
  display: block;
}
#postback_msg ul {
  padding-left: 60px;
}
#expert_advice {
  background: url("/re/common/images/weekly_expert_advice_background_v.png") no-repeat top right;
  width: 260px;
  min-height: 430px;
  font-family: Helvetica;
  margin-top: 54px;
}
#expert_advice .title_advice,
#expert_advice_horizontal .title_advice {
  color: #fff;
  padding-top: 9px;
  line-height: 28px;
  font-size: 22px;
  font-weight: normal;
  margin: 0 18px;
}
#expert_advice .jucy_submit,
#expert_advice_horizontal .jucy_submit {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  background-image: -webkit-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -moz-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -ms-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -o-linear-gradient(top, #7d7e7d, #0e0e0e);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #7d7e7d), color-stop(1, #0e0e0e));
  background-image: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background-image: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background-image: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background-image: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background-image: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  border: 0px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  color: #fff;
  font-family: arial, helvetica, sans-serif;
  height: 30px;
  width: 63px;
}
.subtitle_advice {
  color: #fff;
  font-size: 14px;
  margin: 8px 19px;
  display: block;
}
#expert_advice .signupnow_msg {
  color: #624100;
  font-family: Arial Black;
  font-size: 20px;
  text-align: center;
  padding-top: 13px;
}
#expert_advice .warning_msg {
  color: #3a3a3a;
  margin: 0 4px;
  font-family: Arial #000;
  font-size: 18.18px;
  line-height: 23px;
  padding: 185px 23px 20px;
  text-transform: uppercase;
}
.expert_advice_hr {
  background: url("/re/common/images/expert_advice_hr.png") no-repeat;
  display: block;
  width: 230px;
  height: 3px;
  border: none;
  margin: 11px;
}
#expert_advice input.newsletter {
  border: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px -10px 0px 16px;
  padding: 0px 8px;
  text-transform: lowercase;
  width: 161px;
  height: 30px;
}
#expert_advice_horizontal input.newsletter {
  border: 0px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0px 0px 0px 175px;
  padding: 0px 8px;
  text-transform: lowercase;
  width: 131px;
  height: 30px;
}
.insider_report_form {
  float: left;
}
#expert_advice_horizontal {
  font-family: Helvetica;
  background: url("/re/common/images/weekly_expert_advice_background_h.png") 0px 0px;
  width: 648px;
  height: 178px;
  display: block;
  clear: both;
  position: relative;
}
#expert_advice_horizontal .title_advice {
  line-height: 28px;
  font-size: 22px;
  float: left;
  padding: 0 0 10px 16px;
  width: 224px;
  margin-top: 10px;
  margin-left: 0px;
}
.title_wrapper {
  display: block;
  float: left;
  width: 235px;
  height: 100px;
/*background: url('/re/common/images/horizontal_advice_bg2.png') no-repeat 179px 0px #FFF;*/
}
#expert_advice_horizontal .subtitle_advice {
  display: block;
  width: 151px;
  float: left;
  margin-left: 16px;
  font-size: 18px;
  margin-top: 2px;
}
#expert_advice_horizontal .signupnow_msg {
  color: #624100;
  font-family: Arial Black;
  font-size: 20px;
  float: right;
  padding: 5px 52px 0 0;
}
#expert_advice_horizontal .warning_msg {
  text-align: left;
  line-height: 21px;
  color: #3a3a3a;
  width: 205px;
  margin: 13px 0px 11px 194px;
  font-size: 18px;
  font-family: Arial Black;
  float: left;
  padding: 0;
  text-transform: uppercase;
}
#expert_advice_horizontal .insider_report_form {
  margin-left: 21px;
  width: 380px;
}
#expert_advice_horizontal .newsletter {
  width: 213px;
  margin: 9px 0px 0px 15px;
  padding: 1px 5px;
  color: #666;
  text-transform: lowercase;
}
#expert_advice_horizontal .jucy_submit {
  position: absolute;
  margin-left: -4px;
}
#cta-strip {
  position: absolute;
  top: 0;
  left: 0;
  background: #eee;
}
.cta-buttons {
  max-width: 980px;
  position: relative;
  top: 10px;
}
.cta-buttons ul {
  list-style-type: none;
  display: inline-block;
  margin-top: 13px;
}
.cta-buttons ul li {
  display: inline-block;
}
.alpha60 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.56, rgba(255,255,255,0.75)), color-stop(1, rgba(255,255,255,0)));
  background: -webkit-linear-gradient(top, #fff 0%, rgba(255,255,255,0.75) 56%, rgba(255,255,255,0) 100%);
  background: -moz-linear-gradient(top, #fff 0%, rgba(255,255,255,0.75) 56%, rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(top, #fff 0%, rgba(255,255,255,0.75) 56%, rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(top, #fff 0%, rgba(255,255,255,0.75) 56%, rgba(255,255,255,0) 100%);
  background: linear-gradient(top, #fff 0%, rgba(255,255,255,0.75) 56%, rgba(255,255,255,0) 100%);
}
.button {
  display: inline-block;
  padding: 9px 34px 10px;
  color: #fff !important;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  position: relative;
  cursor: pointer;
  text-align: center;
  text-shadow: 1px 1px 0 #000;
  -moz-box-shadow: 0 1px 3px #000;
  -webkit-box-shadow: 0 1px 3px #000;
  -webkit-box-shadow: 0 1px 3px #000;
  box-shadow: 0 1px 3px #000;
  -webkit-transition: background-color 0.5s linear;
}
.button.nice,
.transition {
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.5);
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
}
.button.radius {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.button.round {
  -moz-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  -webkit-border-radius: 1000px;
  border-radius: 1000px;
}
.button.full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center;
}
.button.left-align {
  text-align: left;
  text-indent: 12px;
}
.xsmall.button {
  font-size: 11px;
  padding: 4px 8px 5px;
}
.small.button {
  font-size: 13px;
  padding: 5px 15px;
}
.medium.button {
  font-size: 15px;
}
.large.button {
  font-size: 22px;
  padding: 10px 40px 13px;
  margin: 0 5px;
}
.nice.xsmall.button {
  background-repeat: repeat-x;
  background-position: 0 -38px, 0 0;
}
.nice.small.button {
  background-repeat: repeat-x;
  background-position: 0 -36px, 0 0;
}
.nice.large.button {
  background-repeat: repeat-x;
  background-position: 0 -30px, 0 0;
}
.blue.button {
  background-color: #00a6fc;
}
.red.button {
  background-color: #e91c21;
}
.white.button {
  background-color: #e9e9e9;
  color: #333 !important;
}
.charcoal.button {
  background-color: #141414;
}
.gold.button {
  background: #edb54d;
}
.green.button {
  background-color: #094f94;
  color: #efefef !important;
}
.nice.blue.button {
  border: 1px solid #0593dc;
}
.nice.red.button {
  border: 1px solid #b90b0b;
}
.nice.white.button {
  border: 1px solid #cacaca;
  text-shadow: none !important;
}
.nice.charcoal.button {
  border: 1px solid #000;
}
.nice.gold.button {
  border: 1px solid #f4c989;
}
.nice.green.button {
  border: 1px solid #073e74;
}
.button:hover {
  background-color: #0192dd;
  color: #000;
  text-decoration: none !important;
}
.blue.button:hover {
  background-color: #0192dd;
}
.red.button:hover {
  background-color: #d01217;
}
.white.button:hover {
  background-color: #dadada;
  color: #333;
}
.charcoal.button:hover {
  background-color: #000;
}
.gold.button:hover {
  background-color: #d5973a;
}
.green.button:hover {
  background-color: #063664;
}
body.ff button.button {
  padding: 6px 34px 8px;
  position: relative;
}
body.ff button.xsmall.button {
  padding: 1px 8px 2px;
}
body.ff button.small.button {
  padding: 6px 20px 6px;
}
body.ff button.medium.button {
  padding: 6px 34px 8px;
}
body.ff button.large.button {
  padding: 8px 48px 10px;
}
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}
#facebox .popup {
  position: relative;
  border: 3px solid rgba(0,0,0,0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 18px rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 18px rgba(0,0,0,0.4);
  box-shadow: 0 0 18px rgba(0,0,0,0.4);
  padding-right: 20px;
}
#facebox .content {
  display: block;
  min-height: 25px;
  padding: 10px;
  background: #fff;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
#facebox .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
  background: #fff;
}
#facebox_overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
#facebox .content p.msg {
  color: #000;
  font-size: 15px;
  font-weight: bold;
  line-height: 10px;
  text-align: center;
  margin-right: 10px;
}
#facebox .content {
  font-size: 16px;
}
#facebox .content strong {
  font-weight: bold;
}
#facebox .content > p {
  margin-right: 5px;
}
#facebox .content > p:first-child {
  margin-top: 0;
}
#facebox .content > p:last-child {
  margin-bottom: 5px;
}
#facebox .close img {
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  filter: alpha(opacity=30);
}
#facebox .close:hover img {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#facebox .loading {
  text-align: center;
}
#facebox .image {
  text-align: center;
}
#facebox img {
  border: 0;
  margin: 0;
}
.facebox_hide {
  z-index: -100;
}
.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}
#facebox .content img {
  float: left;
  margin-right: 10px;
}
#facebox .content p {
  display: inline-block;
}
#facebox .content p.msg .warning {
  color: #f00;
}
#facebox .content ul {
  display: inline-block;
  text-align: left;
  margin: 0 5px 0 15px;
}
#facebox .content ol {
  display: block;
  line-height: 20px;
  text-align: left;
  margin: 0 5px 0 25px;
}
.content_section {
  padding: 24px 30px 30px 30px;
  position: relative;
  width: 650px;
}
#content_block_left {
  display: block;
  float: left;
  padding-right: 35px;
  width: 690px;
}
#content_block_right {
  display: block;
  float: left;
  width: 255px;
}
#content_title {
  display: block;
  min-height: 50px;
  position: relative;
  margin-bottom: 3px;
}
#content_title > h1 {
  color: #444;
  display: block;
  font-size: 34px;
  font-family: "Helvetica Neue", Arial;
  margin-bottom: 8px;
  font-weight: 300;
  text-transform: capitalize;
  z-index: 11;
  line-height: 1.1em;
}
.content_section h2 {
  color: #111;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
}
.content_section h3 {
  color: #111;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 2px;
}
.content_section p {
  font-size: 15px;
  margin-bottom: 20px;
}
input.disabled {
  background: #aaa;
  border: 1px solid #888;
}
input.warning {
  border: 1px;
  -webkit-box-shadow: 0 0 5px 1px #f00;
  box-shadow: 0 0 5px 1px #f00;
  -moz-box-shadow: 0 0 5px 1px #f00;
  -webkit-box-shadow: 0 0 5px 1px #f00;
}
.buttony:hover {
  cursor: pointer;
}
.buttony:active {
  -moz-box-shadow: 0 2px 6px #000;
  -webkit-box-shadow: 0 2px 6px #000;
}
#login ul {
  float: left;
}
#login ul > li {
  display: inline;
  float: left;
  list-style-type: none;
  margin-right: 5px;
}
#login ul > li >a {
  display: block;
}
.divider-vertical {
  border-right: 1px solid rgba(100,100,100,0.5);
  height: 52px;
  margin: 0 5px 0 5px;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
select[readonly="readonly"],
input[readonly="readonly"] {
  color: GrayText;
  background-color: ThreeDFace;
}
@media only screen and (max-device-width: 1024px) {
}
body.responsive {
  min-width: 423px;
}
#facebox {
  position: absolute;
  top: 40% !important;
  left: 0;
  z-index: 100;
  text-align: left;
}
#header {
  width: 100%;
}
#header #login {
  -webkit-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  display: block;
  float: right;
  font-size: 1.1em;
  font-weight: 600;
  color: #fff;
}
#header #login a {
  color: #edb54d;
  padding: 18px 10px 17px;
  text-decoration: none;
}
#header #login a:hover {
  color: #fed534;
}
#header .spacer20 {
  margin-top: 10px;
  margin-bottom: 10px;
}
#header #tools {
  cursor: pointer;
  color: #000;
  font-family: "Helvetica Neue", Arial;
  font-size: 11px !important;
  font-weight: 600;
  height: 28px;
  padding-top: 2px;
  position: relative;
  background: #fff;
}
#header #cart-tab {
  display: block;
  float: right;
  margin-right: 3px;
  min-height: 25px;
  padding: 2px 4px 0;
  position: relative;
  width: 90px;
}
#header #cart-tab span {
  background: #000;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  padding: 1px 4px;
  position: relative;
  right: -3px;
  top: -1px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-bottom-left-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
  -webkit-border-top-left-radius: 35px;
  -webkit-border-top-right-radius: 35px;
}
#header #cart-tab p {
  color: #000;
  float: left;
  left: 14px;
  position: relative;
  top: 6px;
}
#header #cart-tab a {
  color: #2a2a2a;
  font-weight: 500;
}
#header #cart-tab div.icon-cart {
  background-position: -13px -11px;
  height: 21px;
  position: absolute;
  right: 20px;
  top: 4px;
  width: 21px;
}
#header #tools p {
  margin: 0;
  line-height: normal;
}
#header #tools span.lang {
  color: #000;
  font-weight: bold;
  margin-right: 5px;
}
#header #tools a.lang {
  color: #acacac;
  text-decoration: none;
  margin-right: 5px;
}
#header #black_line .telephone {
  display: block;
  float: right;
  max-width: 210px;
}
#header #black_line span.number_phones {
  float: right;
  margin-top: 11px;
}
#header #black_line .telephone a {
  color: #fff !important;
}
#header #black_line a.toll_free {
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  height: 32px;
}
#header #black_line a.outside_number {
  font-size: 26px;
  line-height: normal;
}
#header #menu_languages {
  display: block;
  float: right;
  min-height: 23px;
  padding: 2px 4px;
  position: relative;
  width: 90px;
  background: #fff;
}
#header #menu_languages p {
  display: block;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  top: 6px;
}
#header #menu_languages span {
  background: url("../../images/icons/ui-icons_888888_256x240.png") no-repeat -64px -192px;
  float: right;
  position: relative;
  height: 16px;
  width: 16px;
}
#header #menu_languages ul {
  display: none;
  float: left;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: lighter;
  left: 0;
  line-height: 17px;
  list-style: none;
  position: absolute;
  top: 27px;
  width: 135px;
  z-index: 110;
  border-bottom: 1px solid #d0d0d0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
  border-right: 1px solid #d0d0d0;
  -webkit-box-shadow: 3px 2px 9px -1px #d0d0d0;
  box-shadow: 3px 2px 9px -1px #d0d0d0;
  -webkit-box-shadow: 3px 2px 9px -1px #d0d0d0;
  -moz-box-shadow: 3px 2px 9px -1px #d0d0d0;
}
#header #menu_languages ul li {
  background: none repeat scroll 0 0 #fff;
  display: block;
  float: left;
  min-width: 125px;
  padding: 2px 0 2px 10px;
  text-align: left;
  width: auto;
}
#header #menu_languages ul li:nth-child(2) {
  color: #888;
  text-transform: capitalize;
  font-weight: 600;
}
#header #menu_languages ul li.last {
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
}
#header #menu_languages ul li.first {
  border-bottom: 2px dotted #888;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  -moz-border-radius: 0 6px 0 0;
}
#header #menu_languages ul li a:hover {
  color: #545454;
}
#header #menu_languages ul li a {
  color: #0094cc;
}
#header #black_line {
  cursor: default;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  height: 45px;
  padding-bottom: 8px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.01, #3b3b3b), color-stop(0.5, #3b3b3b), color-stop(0.51, #0a0e0a), color-stop(1, #0a0809));
  background: -webkit-linear-gradient(top, #3b3b3b 1%, #3b3b3b 50%, #0a0e0a 51%, #0a0809 100%);
  background: -moz-linear-gradient(top, #3b3b3b 1%, #3b3b3b 50%, #0a0e0a 51%, #0a0809 100%);
  background: -o-linear-gradient(top, #3b3b3b 1%, #3b3b3b 50%, #0a0e0a 51%, #0a0809 100%);
  background: -ms-linear-gradient(top, #3b3b3b 1%, #3b3b3b 50%, #0a0e0a 51%, #0a0809 100%);
  background: linear-gradient(top, #3b3b3b 1%, #3b3b3b 50%, #0a0e0a 51%, #0a0809 100%);
}
#header #black_line{
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b3b3b',endColorstr='#0a0809',GradientType=0);
  }
#header #main_menu {
  background: #fff;
  -webkit-box-shadow: 0 0 16px #aaa;
  box-shadow: 0 0 16px #aaa;
  margin-bottom: 10px;
  min-height: 35px;
}
body:not(.responsive) #header #main_menu {
  min-width: 1000px;
}
.responsive #header #main_menu {
  min-width: auto;
}
#header #main_menu .tlitem {
  float: left;
  position: relative;
}
#header #main_menu ul.main {
  list-style: none;
  margin-left: 188px;
  font-size: 1.1em;
  line-height: 13px;
  position: relative;
}
#header #main_menu ul li a {
  border-left: 1px solid #d9d9d9;
  color: #c93;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  float: left;
  padding: 10px 16px 12px;
  text-decoration: none;
  text-transform: none;
  min-height: 12px;
  display: block;
  position: relative;
  background: #fff;
}
#header #main_menu ul li a.on,
#header #main_menu ul li a:hover {
  border-left: 1px solid #b7b7b7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.09, #c9c9c9), color-stop(1, #fff));
  background: -webkit-linear-gradient(top, #c9c9c9 9%, #fff 100%);
  background: -moz-linear-gradient(top, #c9c9c9 9%, #fff 100%);
  background: -o-linear-gradient(top, #c9c9c9 9%, #fff 100%);
  background: -ms-linear-gradient(top, #c9c9c9 9%, #fff 100%);
  background: linear-gradient(top, #c9c9c9 9%, #fff 100%);
}
#header #main_menu ul li ul {
  display: none;
  float: left;
  height: auto;
  left: 0;
  position: absolute;
  top: 35px;
  -webkit-box-shadow: 3px 2px 9px -1px #d0d0d0;
  box-shadow: 3px 2px 9px -1px #d0d0d0;
  -webkit-box-shadow: 3px 2px 9px -1px #d0d0d0;
  -moz-box-shadow: 3px 2px 9px -1px #d0d0d0;
}
#header #main_menu ul li ul li {
  height: 33px;
  text-align: left;
  display: block;
}
#header #main_menu ul li ul li > a {
  background: #fff;
  border: none;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #b7b7b7;
  border-left: 1px solid #b7b7b7;
  padding: 10px 6px;
}
#header #main_menu ul li ul li > a:hover {
  border-top: 1px solid #b7b7b7;
}
#header #main_menu ul li#menu_two ul li ul li a {
  min-width: 260px;
}
#header #main_menu ul li:hover ul.sublevel,
#header #menu_languages:hover ul {
  display: block;
}
#header #main_menu ul li ul.sublevel > li,
#header #menu_languages ul > li {
  position: relative;
}
#header #main_menu ul li:hover ul.sublevel > li:hover > ul,
#header #main_menu ul li ul.sublevel > li:hover > ul:hover,
#header #main_menu ul li ul.sublevel > li:hover > ul {
  display: block;
  left: 142px;
  position: absolute;
  top: 0;
  z-index: 1000;
}
#header .logo_mask {
  left: 0;
  height: 121px;
  overflow: hidden;
  top: 0;
  width: 423px;
  position: absolute;
}
#header .goldsilver_logo {
  float: left;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  margin-top: 12px;
}
#header .header_banner {
  width: 667px;
  margin: 0 auto;
  display: block;
  z-index: 11;
  position: relative;
  padding-bottom: 5px;
  padding-top: 10px;
}
@media (max-width: 980px) {
  .responsive #footer {
    display: none;
  }
  .responsive #header #tools {
    width: 100%;
  }
  .responsive #header #main_menu {
    margin-top: 30px;
    border-top: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
  }
  .responsive #header #main_menu ul {
    float: left;
    margin-left: 0;
    background: #fff;
    top: -4px;
  }
  .responsive .divider-vertical {
    height: auto;
  }
  .responsive #header #login {
    margin-top: 52px;
  }
  .responsive #header #login ul {
    height: auto;
  }
  .responsive #header #login a {
    padding: 9px 10px;
    color: #333;
  }
  .responsive #header #login a:hover {
    color: #777;
  }
  .responsive #header #black_line .telephone {
    display: none;
  }
  .responsive #main_menu .sublevel {
    display: none !important;
  }
}
#footer {
  background: url("../../common/images/footer_bg.png") repeat-x top left #d8d8d8;
  clear: both;
/*temporary*/
  color: #707070;
  font-family: Arial, sans-serif;
  font-size: 11px;
  height: 158px;
  padding-bottom: 10px;
  width: 100%;
}
#footer ul.foot_links {
  left: 0;
  list-style: none;
  position: absolute;
  top: 27px;
  width: 640px;
}
#footer ul.foot_links li {
  float: left;
  padding: 3px 2px;
}
#footer ul.foot_links li a {
  color: #707070;
  text-decoration: none;
  text-transform: capitalize;
}
#footer ul.foot_links li a:hover {
  color: #999;
}
#footer ul.foot_copyr {
  left: 0;
  list-style: none;
  position: absolute;
  top: 80px;
  width: 400px;
}
#footer ul.foot_copyr li {
  text-align: left;
}
#footer ul.foot_ssls {
  height: 128px;
  list-style: none;
  position: absolute;
  right: 0;
  top: 30px;
  width: 420px;
}
#footer ul.foot_ssls li {
  float: left;
  margin-left: 10px;
}
#footer ul.foot_ssls li.f_icta {
  padding-top: 70px;
}
#footer ul.foot_ssls li.f_icta a.footer_icta {
  background-position: -8px -182.39999389648438px;
  display: inline-table;
  width: 77px;
  height: 54px;
}
#footer ul.foot_ssls li.f_bbb {
  padding-top: 10px;
}
#footer ul.foot_ssls li.f_bbb a.footer_bbb {
  background-position: -6px -61px;
  display: inline-table;
  width: 59px;
  height: 110px;
}
#footer ul.foot_ssls li.f_geotrust {
  font-size: 10px;
  text-align: left;
  width: 128px;
}
#footer ul.foot_ssls li.f_mcafee {
  margin-left: 6px;
}
#testimonials .panel.testimonials {
  margin-bottom: 10px;
}
#testimonials #fancySlide {
  height: 120px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  width: 585px;
}
#testimonials #fancySlide2 {
  height: 120px;
  overflow: hidden;
  padding: 15px 20px;
  position: relative;
  width: 585px;
}
#testimonials #fancySlide h1 {
  color: #000;
  font-size: 15px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
#testimonials #fancySlide .fancySlideContainer {
  height: 220px;
  position: absolute;
  top: 0px;
  left: 0;
  width: 566px;
}
#testimonials #fancySlide .fancySlideContainer .pTestimonial {
  display: block;
  color: #000;
  height: 200px;
  padding: 20px 40px 0px 40px;
  position: absolute;
  width: 486px;
}
#testimonials #fancySlide .fancySlideContainer .pTestimonial p {
  font-size: 18px;
  font-style: italic;
}
#testimonials #fancySlide .fancySlideContainer .pTestimonial span {
  display: block;
  margin-top: 10px;
  font-size: 15px;
  float: right;
  text-align: right;
}
#testimonials div.fancySlideContainer + div.fancySlideContainer {
  position: absolute;
  top: 0px;
  left: 0;
  width: 566px;
  height: 220px;
  display: none;
}
#testimonials #fancySlide #fancySlideControls .fancySlideControl {
  cursor: pointer;
}
#testimonials #fancySlide #fancySlideControls {
  display: block;
  position: absolute;
  top: 62px;
  left: 0;
  width: 580px;
}
#testimonials #fancySlide #fancySlideControls #gr-prev {
  float: left;
}
#testimonials #fancySlide #fancySlideControls #gr-next {
  float: right;
}
#testimonials #shadowsContainer {
  margin-left: 2px;
  position: relative;
  width: 574px;
}
table.matrix thead tr td {
  font-size: 2em;
  border-bottom: 1px solid #efefef;
}
table.matrix thead td:last-child {
  text-align: center;
  vertical-align: middle;
}
table.matrix thead th:nth-child(3),
table.matrix thead th:nth-child(2) {
  text-align: center;
  vertical-align: middle;
}
table.matrix tbody th:first-child,
table.matrix tfoot td:first-child {
  font-size: 1.3em;
  line-height: 1.35em;
  vertical-align: middle;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
table.matrix tbody td:last-child {
  text-align: center;
  vertical-align: middle;
}
table.matrix tbody td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}
table.matrix tfoot {
  background: rgba(255,239,145,0.15);
  color: #5896b8;
  font-size: 1.1em;
}
table.matrix tbody tr {
  margin: 0px auto;
}
table.matrix tfoot td:last-child {
  text-align: center;
  vertical-align: middle;
}
table.matrix tfoot td:nth-child(3) {
  text-align: center;
  vertical-align: middle;
}
table.matrix tfoot td:first-child {
  color: #5896b8;
}
table.matrix tfoot td:last-child {
  text-align: center;
}
table.matrix tfoot tr td:nth {
  text-align: center;
}
